airspeed==0.5.10
amazon-kclpy==1.5.0
asn1crypto==0.24.0
atomicwrites==1.3.0
attrs==19.1.0
aws-sam-translator==1.12.0
aws-xray-sdk==2.4.2
awscli==1.16.206
boto==2.49.0
boto3==1.9.196
botocore==1.12.196
cachetools==3.1.1
certifi==2019.6.16
cffi==1.12.3
cfn-lint==0.22.4
chardet==3.0.4
Click==7.0
colorama==0.3.9
coverage==4.5.3
cryptography==2.7
decorator==4.4.0
dnslib==0.9.7
docker==4.0.2
docopt==0.6.2
docutils==0.14
ecdsa==0.13.3
elasticsearch==6.4.0
entrypoints==0.3
envs==1.3
flake8==3.7.8
flake8-quotes==2.0.1
Flask==1.0.2
Flask-Cors==3.0.3
flask-swagger==0.2.12
future==0.17.1
idna==2.8
importlib-metadata==0.18
itsdangerous==1.1.0
Jinja2==2.10.1
jmespath==0.9.4
jsondiff==1.1.2
jsonpatch==1.23
jsonpath-rw==1.4.0
jsonpickle==1.2
jsonpointer==2.0
jsonschema==3.0.1
localstack==0.9.5
localstack-client==0.9
localstack-ext==0.8.6
MarkupSafe==1.1.1
mccabe==0.6.1
mock==3.0.5
more-itertools==7.2.0
moto-ext==1.3.7.1
nose==1.3.7
packaging==19.0
pluggy==0.12.0
ply==3.11
psutil==5.4.8
py==1.8.0
pyaes==1.6.0
pyasn1==0.4.5
pycodestyle==2.5.0
pycparser==2.19
pycryptodomex==3.4.9
pyflakes==2.1.1
pyminifier==2.1
Pympler==0.7
pyOpenSSL==17.5.0
pyparsing==2.4.1.1
pyrsistent==0.15.3
pytest==5.0.1
python-coveralls==2.9.2
python-dateutil==2.8.0
python-jose==3.0.1
python-jose-ext==1.3.2.4
pytz==2019.1
PyYAML==5.1.1
requests==2.22.0
requests-aws4auth==0.9
responses==0.10.6
rsa==3.4.2
s3transfer==0.2.1
six==1.12.0
srp-ext==1.0.7.1
subprocess32-ext==3.2.8.2
urllib3==1.25.3
warrant-ext==0.6.1.1
wcwidth==0.1.7
websocket-client==0.56.0
Werkzeug==0.15.5
wrapt==1.11.2
xmltodict==0.12.0
yappi==1.0
zipp==0.5.2
